.row
  .span7.offset2
    #sign-up-form.gap-top.gap-bottom

      %h1= t("sign_up.welcome")
      %br/

      = render "oauth_links"

      = render_errors_for @sign_up
      = simple_form_for @sign_up,
        html: { class: 'form-horizontal'} do |f|
        %fieldset
          = f.input :name, label: t("sign_up.name")
          = f.input :email, as: 'email',
            label: t("sign_up.email")
          = f.input :password, as: 'password',
            label: t("sign_up.password")
          = f.input :password_confirmation, as: 'password',
            label: t("sign_up.password_confirmation")
          = f.input :invitation_token, value: session[:invitation_token],
            label: t("sign_up.invitation_token"),
            placeholder: 'xxxxxxxx-xxxxxxxx' if needs_invitation?

        .form-actions
          .pull-right
            = link_to t("sign_up.privacy_link"), page_path('privacy'), target: :_blank
          = f.submit t("sign_up.register_button"), class: 'btn btn-primary'

.row
  %p &nbsp;
