#sign-in.row
  .span7.offset2
    .gap-top.gap-bottom
      %h1=t(:sign_in)

    = render "sign_up/oauth_links"

    = simple_form_for create_session_path,
      html: { class: 'form-horizontal'} do |f|
      %fieldset
        = f.input :email, label: t(:email), as: 'email'
        = f.input :password, label: t(:password), as: 'password'
      .form-actions
        = f.submit t(:sign_in), class: 'btn btn-primary'
        = edit_button_tag 'Forgot Password?', forgot_password_path
.row
  %p &nbsp;
