.gap-top= render_errors_for @user
= simple_form_for @user, html: {class: 'form-horizontal'} do |f|

  = f.input :id, disabled: true, hint: t(:can_not_be_changed)
  = f.input :name, label: t("user.name")
  = f.input :email, label: t("user.email")

  - if @user.authentication(:identity)
    %h4.gap-top= t("user.change_password")
    = f.input :old_password, label: t("user.old_password")
    = f.input :new_password, label: t("user.new_password")
    = f.input :password_confirmation, label: t("user.password_confirmation")

  - if current_user.has_role?( :admin )
    %h4.gap-top= I18n.t("roles.headline")
    = f.input :roles, as: :check_boxes,
      collection: user_role_checkbox_selection,
      label: false, input_html: { class: 'roles-check-boxes' }

  .form-actions
    = f.submit t(:save), class: save_button_classes

