- UserPresenter.present(user,self) do |presenter|
  %li{id: "user-#{user.id}"}
    .pull-right
      = presenter.delete_user_link
      = presenter.edit_user_link
    .pull-left
      .gap-right.small= gravatar_tag(user.email).html_safe
    .pad-left
      .name-and-email= presenter.name_and_email
      .small-subtitle= presenter.user_roles
      .small-subtitle= presenter.authentications
    .clear-both &nbsp;
