- UserPresenter.present(user,self) do |presenter|
  %li{id: "user-#{user.id}"}
    .pull-right
      = presenter.delete_user_link
      = presenter.edit_user_link
    .pull-left
      .gap-right= gravatar_tag(user.email).html_safe
    .user-information
      .name-and-email= presenter.name_and_email
      .email-confirmed-at= presenter.email_confirmed_at if current_user.can_see_foreign_user_information?
      .inline-block.small-subtitle= presenter.user_roles unless user.roles.empty?
      .inline-block.small-subtitle= presenter.authentications if user.has_oauth_authentications?
    .clear-left
