.row{id: "edit-user-password"}
  .span6.offset2
    %h2= t('user.change_password')
    %form.form-horizontal(action="/users/#{@token}/update_password" method="post")
      .control-group
        %label.control-label= t('password')
        .controls
          %input(type="password" name="password"  style="margin-left: 0px" pattern=".{6,}" required title="6 characters minimum")
      .control-group
        %label.control-label= t('user.password_confirmation')
        .controls
          %input(type="password" name="password_confirmation" style="margin-left: 0px" pattern=".{6,}" required title="6 characters minimum")
      .control-group
        .controls
          %input.btn(type="submit" value="#{t(:save)}" )
