= render_errors_for page
= simple_form_for page, html: { class: standard_form_classes } do |f|

  = f.input :title, input_html: { class: 'full-width' }
  = f.input :body, as: :text, input_html: { rows: 15, class: 'full-width' }

  .form-actions
    %span
    = f.input :draft, inline_label: t(:draft), as: :boolean, label: t(:save_as_draft)
    = f.submit t(:save), class: save_button_classes
    = cancel_button_tag t(:cancel),  pages_path
    .pull-right= render 'terminator_buttons', page: page

