%li{ id: "page-#{page.to_param}", class: 'list-entry bottom-bordered' }
  .btn-group.pull-right
    = render 'editor_buttons', page: page
    = render 'terminator_buttons', page: page
    = render 'controller_buttons', page: page
  = link_to_unless_current page.title, page_path(page)
