.pull-right
  = new_button_tag t("sign_up.new_invitation"), new_sign_up_invitation_path

%h1=t("sign_up.sent_invitations_list")

%table
  %thead
    %th From
    %th To
    %th Message
    %th &nbsp;&nbsp;&nbsp;&nbsp&nbsp;Action&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  %tbody
  - @sign_up_invitations.each do |invitation|
    %tr
      %td= invitation.sender ? invitation.sender.email : "n/a"
      %td= invitation.to ? invitation.to : "n/a"
      %td
        %span{ title: invitation.message }
          = invitation.message.truncate(120,ommit: '...')
      %td= delete_link_tag sign_up_invitation_path(invitation)
