!!!
%html
  %head
    = render 'layouts/html_header'
  %body
    %header
      = render 'layouts/navigation'
    #container.container
      = render 'layouts/messages'
      #main{:role => "main"}
        = yield
    %footer#footer
      = render 'layouts/footer'

